<h1> Dragonball page</h1>
<hr/>
<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }}</h3>

    <input
    type="text"
    class="form-control mt-2"
    placeholder="Nombre"
    [value]="name()"
    (change)="name.set(txtname.value)"
    (input)="name.set(txtname.value)"
    #txtname
    />

    <input
    type="number"
    class="form-control mt-2"
    placeholder="Poder"
    [value]="power()"
    (input)="power.set(+txtPower.value)"
    #txtPower
    />

    <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
  </div>


  <div class="col-12 col-sm-6">
    <h3>Listado fuertes: </h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index) {

        @if ( character. power > 500) {
          <li>
            <span>{{idx + 1}}   -  {{ character.name }}</span>
            <strong [class.text-danger]="character.power >= 9000"
            [class.text-info]="character.power < 9000">
            ({{character.power}}) </strong>
          </li>
        }@else{

          <li><strong> aqui no hay nadie</strong></li>

        }
      }
    </ul>
  </div>

</section>
